---
---

@import "{{ site.theme }}";
.page-header {
    background: url('/cgi2025/assets/images/cgi.jpg') no-repeat center center;
    background-size: cover;
}

/* Hide "View on GitHub" button */
header a[href*="github.com"] {
    display: none !important;
}

footer {
    display: none !important;
}

/* Style the top navigation bar */
.top-nav {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;  
}

.nav-button {
    display: inline-block;
    padding: 0.75rem 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.nav-button:hover {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.top-nav {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    .top-nav {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        top: 50px;
        right: 10px;
        padding: 10px;
        border-radius: 5px;
    }

    .menu-toggle {
        display: block;
    }
}

.top-nav.show {
    display: flex;
}


.sponsor-container {
    display: flex;
    justify-content: center;  /* Center the logos */
    gap: 20px;  /* Add space between logos */
    margin: 40px 0;
}

.sponsor-logo {
    max-width: 120px;  /* Smaller size */
    max-height: 50px;  /* Keep the logos proportionally smaller */
    transition: transform 0.2s ease-in-out;
}

.sponsor-logo:hover {
    transform: scale(1.1);
}

.center-button a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #159957; /* Cayman theme's green color */
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.center-button a:hover {
    background-color: #138a4e; /* Darker green for hover effect */
}



